.body {
    background-color: darkgrey;
}

.register-title{
    text-align: center;
    margin-bottom: 1.3em;
}
.register-label{
text-align: center;
margin-bottom: 1em !important;
}

.register-input{
padding: 1.3em !important;
margin-bottom: 1.3em !important;
}

.registerCharity-container{
    position: absolute;
    transform: translate(0%, 16%);
    padding: 3em !important;
    margin-top: -5em;
    max-width: 100%;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.submit-button {
    padding: 1em !important;
    margin-top: 1em !important;
    text-align: center !important;
    background-color: #ff7e7e !important;
    border-color: #ffb4b4 !important;
    color: #fff !important;
}

.button-container{
    padding-top: 1em;
    text-align: center !important;
    vertical-align: middle !important;
    align-items: center !important;
}

.sign-in{
    margin-top: 0.5em;
    text-align: right;
    color: black;
    text-decoration: underline;
    font-size: large;
}

.errorMsg{
    font-size: medium !important;
}