# express server config

PORT=8080
HOST=localhost
HOST_URL=http://localhost:8080

# service account key config

PROJECT_ID=
PRIVATE_KEY_ID=
PRIVATE_KEY=
CLIENT_EMAIL=
CLIENT_ID=
SERVICE_ACCOUNT_EMAIL=